<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon " href="../static/logo.png" />
    <title>#{title}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    style 
      include ../static/style.css
  </head>
  <body>
    <div class="all_container">
      <section id="home">
        <nav>
          <div class="logo">
            <a  href="/">
              <img src="../static/logo.png" alt="Connection is poor Therefore we are unable to load the picture"/>
            </a>
          </div>
          <div class="search">
            <input type="text" id="myInput" placeholder="Enter the dance move"/>
            <input type="submit" id="btn" />
          </div>
          <div class="menu">
            <ul>
              <a href="#home">
                <li class="b1">Home<span class="border1"></span></li>
              </a>
              <a href="#services">
                <li class="b3">Services<span class="border3"></span></li>
              </a>
              <a href="#about">

                <li class="b2">About<span class="border2"></span></li>
              </a>
              <a href="#contact">

                <li class="b4">Contact Us<span class="border4"></span></li>
              </a>
            </ul>
          </div>
        </nav>
        <div class="welcome">
          <h1>Welcome to</h1>
          <p class="fade">Street Dance Academy</p>
          <p class="btnType">
            To fill the joining form <br />click on the button below
          </p>
          <button>Fill Form Here</button>
        </div>
      </section>
    </div>

    <div class="container">
      <section id="services">
        <div class="flex">
          <div class="first common2">

            <div class="im1 common">
              <img class="ballet" src="../static/ballet.webp" alt="Poor Internet Connection"/>
            </div>
            <span class="txt1 txt">Ballet Dance
            </span>
          </div>
          <div class="second common2">

            <div class="im2 common">
              <img class="swing" src="../static/swing.jpeg" alt="Poor Internet Connection">
            </div>
            <span class="txt2 txt">Swing Dance
            </span>
          </div>
          <div class="third common2">

            <div class="im3 common">
              <img class="tap" src="../static/tap dance.jpeg" alt="Poor Internet Connection">
            </div>
            <span class="txt3 txt">Tap Dance
            </span>
          </div>
          <div class="fourth common2">

            <div class="im4 common">
              <img class="gidha" src="../static/gidha.jpg" alt="Poor Internet Connection">
            </div>
            <span class="txt4 txt"> Gidha
            </span>
          </div>
        </div>
        <div class="margin">

        
        <div class="flex">
          <div class="fifth common2">

            <div class="im5 common">
              <img class="bhangra" src="../static/Bhangra.jpg" alt="Poor Internet Connection">
            </div><span class="txt5 txt"> Bhangra
            </span>
          </div>
          <div class="sixth common2">

            <div class="im6 common">
              <img class="hip hop" src="../static/hip hop.avif" alt="Poor Internet Connection">
            </div>
            <span class="txt6 txt"> Hip Hop Dance
            </span>
          </div>
          <div class="seventh common2">

            <div class="im7 common">
              <img class="kathak" src="../static/kathak.jpeg" alt="Poor Internet Connection">
            </div>
            <span class="txt7 txt"> Kathak Dance
            </span>
          </div>
          <div class="eighth common2">

            <div class="im8 common">
              <img class="salsa" src="../static/salsa.jpg" alt="Poor Internet Connection">
            </div>
            <span class="txt8 txt">  Salsa Dance
            </span>
          </div>
        </div>
      </div>
      
      </section>
      <div class="about">
        <section id="about">
          <div class="make_flex">
            <div class="about_logo">
              <img class="design" src="../static/logo.png" alt="Poor Internet Connection">
            </div>
            <div class="about-txt">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, quos ex corrupti fugiat id ducimus cumque accusantium obcaecati voluptas laudantium alias minus, dolor nesciunt cupiditate eum perferendis tenetur blanditiis ut ratione sint? Aut quis, iure dolores, porro at in aperiam distinctio explicabo animi iste nihil sint provident ipsum maiores, facere maxime fuga atque culpa aliquam assumenda? Et magni modi autem, officia explicabo nisi culpa repellendus quisquam fugiat nulla perspiciatis? Sit debitis maxime harum et suscipit tempora sunt impedit atque ipsa. Nobis doloribus enim saepe in inventore, itaque voluptatum fugiat aliquam necessitatibus! Sit modi sint, odit, explicabo, a at facilis totam impedit odio nulla in earum expedita mollitia. Atque natus numquam ex. Necessitatibus sint, aperiam quod, unde perspiciatis maxime maiores nesciunt earum dignissimos, inventore mollitia. Mollitia suscipit omnis dolores eligendi quis atque. Possimus culpa doloremque sunt, optio voluptatibus expedita voluptas explicabo eveniet modi quae at molestiae necessitatibus sint dolores id magni suscipit consequatur aperiam commodi tenetur nihil sapiente mollitia! Officiis ipsam ratione veniam adipisci earum ad? Fuga, molestias quae! Blanditiis officia vel modi tempore eaque doloremque reiciendis vitae. Omnis exercitationem hic porro nulla quidem perspiciatis saepe voluptates expedita id in placeat beatae architecto quisquam et, a magnam ipsa enim, recusandae debitis, dignissimos dolore? Modi optio, libero fugit possimus, itaque ducimus illo provident nobis autem dolor iusto quas in perspiciatis iure quam animi voluptas? Non quas libero exercitationem eos aliquam labore dolorem animi maiores iste assumenda ipsum, nam nesciunt sint sapiente pariatur hic id. Laboriosam quae repellendus corporis reiciendis, nostrum commodi? Fugit?
            </div>
          </div>
        </section>
      </div>
      <div class="contact">
        <section id="contact">
          <div class="facebook">
            <a target="_blank" href="https://www.facebook.com/vansh.miglani.370">

              <i id="facebook" class="fa-brands fa-facebook-f"></i>
            </a>
          </div>
          <div class="insta">
            <a target="_blank" href="https://www.instagram.com/vansh_00/">

              <i id="insta" class="fa-brands fa-instagram"></i>
            </a>
          </div>
          <div class="link">
            <i id="link" class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="twitter">
            <a target="_blank" href="https://x.com/search?q=vanshstglacierb&src=typed_query&f=top">
              
              <i id="twitter" class="fa-brands fa-twitter"></i>
            </a>
          </div>
          <div class="call">
            <i id="call" class="fa-solid fa-phone"></i>
          </div>
        </section>
      </div>

    </div>
  </body>
  <script src="../static/script.js"></script>
</html>
